.logo-outer{
    background-color: #28a74691;
     border-radius: 10px;
     width: 45px;
    height: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    .logo{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
}
